<div class="card-header">
  <div class="no-gutters row">
    <div class="col-lg-10">
      <h4 class="card-title mb-0">
        <div class="text-truncate"><%= @lb.load_balancer_name %></div>
        <a class="w-100 mt-2 btn btn-primary" target="_blank" href="<%= aws_console_link(:load_balancer, @lb.load_balancer_arn, @lb.region_code) %>">Open in AWS Console</a>
        <%= render partial: "last_updated_time", locals: { resource: @lb } %>
      </h4>
    </div>
    <%= render partial: "sidebar_resizers" %>
  </div>
</div>
<div class="overflow-auto card-body p-0">
  <div class="list-group list-group-flush">
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>State</h5>
      </div>
      <h5>
        <% if ["active", "provisioning"].include? @lb.state %>
          <p class="badge badge-success mb-0"><%= @lb.state %></p>
        <% elsif ["active_impaired", "failed"].include? @lb.state %>
          <p class="badge badge-danger mb-0"><%= @lb.state %></p>
        <% end %>
      </h5>
    </div>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>IP Address Type</h5>
      </div>
      <h5>
        <% if @lb.ip_address_type.nil? %>
          <p class="badge badge-secondary mb-0"><%= "unknown" %></p>
        <% elsif @lb.ip_address_type == "ipv4" %>
          <span class="badge badge-warning mb-0"><%= @lb.ip_address_type %></span>
          <a href="https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html#ip-address-type" target="_blank"><i class="fas fa-external-link-alt add-tooltip" data-toggle="tooltip" data-placement="top" title="Clients can't connect to this load balancer with IPv6 address"></i></a>
        <% elsif @lb.ip_address_type == "dualstack" %>
          <p class="badge badge-success mb-0"><%= @lb.ip_address_type %></p>
        <% end %>
      </h5>
    </div>
    <%= render_annotation_for(@lb) %>
  </div>
</div>
