<div class="card-header">
  <div class="no-gutters row">
    <div class="col-lg-10">
      <h4 class="card-title mb-0">
        <div class="text-truncate"><%= @ec2.instance_id %></div>
        <a class="w-100 mt-2 btn btn-primary" target="_blank" href="<%= aws_console_link(:ec2_instance, @ec2.instance_id, @ec2.region_code) %>">Open in AWS Console</a>
        <%= render partial: "last_updated_time", locals: { resource: @ec2 } %>
      </h4>
    </div>
    <%= render partial: "sidebar_resizers" %>
  </div>
</div>
<div class="overflow-auto card-body p-0">
  <div class="list-group list-group-flush">
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>Instance Type</h5>
      </div>
      <p class="mb-0"><%= @ec2.instance_type %></p>
    </div>
    <% if @ec2.key_name %>
      <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5>Key Name</h5>
        </div>
        <p class="mb-0"><%= clickable_aws_console_link(:ec2_keypair, @ec2.key_name, @ec2.region_code) %></p>
      </div>
    <% end %>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>Platform</h5>
      </div>
      <p class="mb-0"><%= @ec2.platform ? @ec2.platform.capitalize : 'Linux' %></p>
    </div>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>Private IP</h5>
      </div>
      <p class="mb-0"><%= @ec2.private_ip_address %></p>
    </div>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>Public IP</h5>
      </div>
      <p class="mb-0"><%= @ec2.public_ip_address %></p>
    </div>
    <%= render partial: "vpc_security_groups", locals: { resource: @ec2 } %>
    <% if @ec2.tags %>
      <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5>Tags</h5>
        </div>
        <div class="overflow-auto">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <% @ec2.tags.each do |tag| %>
                <tr>
                  <td><%= tag["key"] %></td>
                  <td><%= tag["value"] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <%= render_annotation_for(@ec2) %>
  </div>
</div>

