<div class="card-header">
  <div class="no-gutters row">
    <div class="col-lg-10">
      <h4 class="card-title mb-0">
        <div class="text-truncate"><%= @asg.auto_scaling_group_name %></div>
        <a class="w-100 mt-2 btn btn-primary" target="_blank" href="<%= aws_console_link(:ec2_asg, @asg.auto_scaling_group_name, @asg.region_code) %>">Open in AWS Console</a>
        <%= render partial: "last_updated_time", locals: { resource: @asg } %>
      </h4>
    </div>
    <%= render partial: "sidebar_resizers" %>
  </div>
</div>
<div class="overflow-auto card-body p-0">
  <div class="list-group list-group-flush">
    <% if @asg.launch_configuration_name %>
      <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5>Launch Configuration Name</h5>
        </div>
        <p class="mb-0"><%= clickable_aws_console_link(:ec2_launch_config, @asg.launch_configuration_name, @asg.region_code) %></p>
      </div>
    <% else %>
      <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5>Launch Template Name</h5>
        </div>
        <p class="mb-0"><%= clickable_aws_console_link(:ec2_launch_template, @asg.launch_template_name, @asg.region_code) %></p>
      </div>
      <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5>Launch Template Version</h5>
        </div>
        <p class="mb-0"><%= "Version #{@asg.launch_template_version}" %></p>
      </div>
    <% end %>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>Minimum Size</h5>
      </div>
      <p class="mb-0"><%= @asg.min_size %></p>
    </div>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>Maximum Size</h5>
      </div>
      <p class="mb-0"><%= @asg.max_size %></p>
    </div>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>Desired Capacity</h5>
      </div>
      <p class="mb-0"><%= @asg.desired_capacity %></p>
    </div>
    <% if @asg.tags %>
      <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5>Tags</h5>
        </div>
        <div class="overflow-auto">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <% @asg.tags.each do |tag| %>
                <tr>
                  <td><%= tag["key"] %></td>
                  <td><%= tag["value"] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <%= render_annotation_for(@asg) %>
  </div>
</div>
