<div class="card-header">
  <div class="no-gutters row">
    <div class="col-lg-10">
      <h4 class="card-title mb-0">
        <div class="text-truncate"><%= @attch.tgw_attch_id %></div>
        <a class="w-100 mt-2 btn btn-primary" target="_blank" href="<%= aws_console_link(:tgw_attach, @attch.tgw_attch_id, @attch.region_code) %>">Open in AWS Console</a>
        <%= render partial: "last_updated_time", locals: { resource: @attch } %>
      </h4>
    </div>
    <%= render partial: "sidebar_resizers" %>
  </div>
</div>
<div class="card-body p-0">
  <div class="list-group list-group-flush">
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>TGW ID</h5>
      </div>
      <%= clickable_aws_console_link(:tgw, @attch.tgw_id, @attch.region_code) %>
    </div>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>TGW Owner ID</h5>
      </div>
      <p class="mb-0"><%= @attch.tgw_owner_id %></p>
    </div>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>Resource Owner Id</h5>
      </div>
      <p class="mb-0"><%= @attch.resource_owner_id %></p>
    </div>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>Resource Type</h5>
      </div>
      <p class="mb-0"><%= @attch.resource_type %></p>
    </div>
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5>Resource Id</h5>
      </div>
      <p class="mb-0"><%= @attch.resource_id %></p>
    </div>
    <%= render_annotation_for(@attch) %>
  </div>
</div>

