<% if flash[:mfa_errors] %>
  <% flash[:mfa_errors].each do |error| %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>
<% if flash.alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash.alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<% if @subscription.tier.to_s == 'enterprise' %>
  <%= render 'enterprise' %>
<% else %>
  <%= render 'free' %>
<% end %>
<%= javascript_pack_tag 'track_subs.js' %>