<!DOCTYPE html>
<html>
  <head>
    <title>Quadzig - Infrastructure visualization</title>
    <script defer src="https://js.stripe.com/v3/"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% unless Rails.env == 'development' %>
      <%= javascript_pack_tag 'sentry' %>
    <% end %>
    <%= javascript_pack_tag 'application' %>
    <% if (["production", "staging"].include? Rails.env) && !@current_user.nil? %>
      <script>(function(f,b){if(!b.__SV){var e,g,i,h;window.mixpanel=b;b._i=[];b.init=function(e,f,c){function g(a,d){var b=d.split(".");2==b.length&&(a=a[b[0]],d=b[1]);a[d]=function(){a.push([d].concat(Array.prototype.slice.call(arguments,0)))}}var a=b;"undefined"!==typeof c?a=b[c]=[]:c="mixpanel";a.people=a.people||[];a.toString=function(a){var d="mixpanel";"mixpanel"!==c&&(d+="."+c);a||(d+=" (stub)");return d};a.people.toString=function(){return a.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
        for(h=0;h<i.length;h++)g(a,i[h]);var j="set set_once union unset remove delete".split(" ");a.get_group=function(){function b(c){d[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));a.push([e,call2])}}for(var d={},e=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<j.length;c++)b(j[c]);return d};b._i.push([e,f,c])};b.__SV=1.2;e=f.createElement("script");e.type="text/javascript";e.async=!0;e.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
        MIXPANEL_CUSTOM_LIB_URL:"file:"===f.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";g=f.getElementsByTagName("script")[0];g.parentNode.insertBefore(e,g)}})(document,window.mixpanel||[]);
        mixpanel.init("xxxxxxxx", {batch_requests: true})
        mixpanel.identify("<%= @current_user.id %>");
        mixpanel.people.set({
          "$email": "<%= @current_user.email %>",
          "account_count": <%= @current_user.aws_accounts.count %>
        })
      </script>
    <% end %>
  </head>

  <body class="c-app">
    <% if (@is_signed_in) %>
      <% if @show_sidebar %>
        <%= render 'layouts/sidebar' %>
      <% end %>
      <div id=<%="#{controller_name}-#{action_name}" %> class="c-wrapper">
        <div class="c-body">
          <main class="c-main">
            <div class="container">
              <div class="d-none" id="stripe_publishable_id"><%= ENV['STRIPE_PUBLISHABLE_KEY'] %></div>
              <div class="d-none" id="stripe_price_id"><%= ENV['ENTERPRISE_STRIPE_PRICE_ID'] %></div>
              <%= yield %>
              <%= render 'application/upgrade_tier' %>
            </div>
          </main>
        </div>
          <% if @show_footer %>
            <footer class="c-footer">
            </footer>
          <% end %> 
      </div>
    <!-- Landing Page rendering -->
    <% end %>
    <% if Rails.env == "production" %>
      <script>
          window.Userback = window.Userback || {};
          Userback.access_token = '29598|43087|aVuS3EaOSUrWNmSr4i9jFQjlF';
          Userback.categories = "Views, Omnisearch, Block Lists, General Feedback";
          (function(d) {
              var s = d.createElement('script');s.async = true;
              s.src = 'https://static.userback.io/widget/v1.js';
              (d.head || d.body).appendChild(s);
          })(document);
      </script>
    <% end %>
  </body>
</html>
